body {
    margin: 0;
}

div {
    width: 100px;
    height: 100px;

    margin: 50px auto;

    background-color: #ff5722;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: bold;
    font-size: 20px;
}
