* {
    box-sizing: border-box;
    margin: 0;
}

.container {
    display: grid;
    gap: 20px;
    padding: 20px;
    justify-items: center;
}

.circle {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.one {
    background: #f44336;
}

.two {
    background: #4caf50;
}

.three {
    background: #2196f3;
}

.four {
    background: #ff9800;
}

@media (min-width: 1200px) {
    .container {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 767px) {
    .container {
        grid-template-columns: 1fr;
    }
}